*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Black Han Sans', sans-serif; 
}


#login{
    position: absolute;
    width: 80%;
    height: 85%;
    z-index: 1000;
    left: 10%;
    background: white;
    border-radius: 20px;
}

#loginTitle{
    font-size: 100px;
}

#loginForm{
    position: absolute;
    top: 25%;
    left: 35%;
    margin: -50px 0 0 -50px;
}

#logInput{
    text-align: center;
    width: 500px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;

}