#todo-form{
    padding-left: 30px;
}

#todoTitle{
    font-size: 30px;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
}

#todoinput{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    height: 30px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;

}

#todo-list{
    position: absolute;
    width: 100%;
    color: #0b0981;
}

#todoinput::placeholder{
    color: white;
}

#todo-list{
    list-style:none;
}

#todo-list li{
    width: 83%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    align-items: center;
    border-radius: 7px;
    height: 50px;
    margin-bottom: 10px;
}

#todo-list span{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    padding-left: 15px;
    line-height: 1;
    font-size: 20px;
}

.btnDelete{
    align-items: right;
    font-size: 20px;
    color: #0b0981;
    text-align: right;
    background-color: white;
    border: none;
    padding-right: 15px;
}
.done{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

span{
    color: #0b0981;
    
}

